.project-card-img {
  border-radius: 4px;
}

.project-card-subtitle {
  text-align: left;
}

.card-wrapper {
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
  position: relative;

  .project-cards {
    display: inline-block;
  }

}
