.project-component {
  .projects-section {
    background-color: rgb(250, 244, 244);
    padding-top: 110px;
    margin-top: 110px;
    height: 1800px;
    text-align: center;
  
    h1 {
      border-bottom: 3px rgb(19, 128, 95) solid;
      display: inline-block;
      margin-bottom: 90px;
    }
  
  }
}
