<div class="about-section">
  <h1>ABOUT</h1>
  <div class="container about-container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="hexagons" data-aos="flip-right">
          <div class="hexagon-img responsive-icon">
          </div>
        </div>

        <h4 class="about-each-heading">
          Responsive
        </h4>

        <p class="about-each-p">
          Making my layouts workable on any browser or device is one of my highest priorities.
        </p>

      </div>
      <div class="col-lg-6 col-sm-6 col-12">
        <div class="hexagons" data-aos="fade-down-right">
          <div class="hexagon-img rocket-icon">
          </div>

        </div>

        <h4 class="about-each-heading">
          Fast
        </h4>

        <p class="about-each-p">
          I always strive to improve my application performance. Fast load times means happy users.
        </p>
      </div>

      <div class="col-lg-6 col-sm-6 col-12">
        <div class="hexagons" data-aos="flip-down">
          <div class="hexagon-img friendly-icon">
          </div>
        </div>

        <h4 class="about-each-heading">
          User-friendly
        </h4>

        <p class="about-each-p">
          I always set my mind on making applications intuitive. Intuitive UX/UI is everything.
        </p>
      </div>

      <div class="col-lg-6 col-sm-6 col-12">
        <div class="hexagons" data-aos="zoom-in">
          <div class="hexagon-img tools-icon">
          </div>
        </div>

        <h4 class="about-each-heading">
          Teamwork
        </h4>

        <p class="about-each-p">
          Great communication skills and teamwork are crucial when creating innovative things. I strive myself to be a
          great team player.
        </p>
      </div>
    </div>
  </div>
  <div class="about-bottom">
    <div class="container about-bottom-cubes">
      <div class="row">
        <div class="col-md-6">
          <div class="cube-container">
            <div id="cube" class="">
              <div class="side front"></div>
              <div class="side back"></div>
              <div class="side right"></div>
              <div class="side left"></div>
              <div class="side top"></div>
              <div class="side bottom"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 about-bottom-right">
          <div class="container">
            <div class="row about-bottom-rows">
              <div class="col-12">
                <div class="skill-bar-full">

                  <div class="skill-bar-actual skill-bar-actual-html">

                  </div>
                  <div class="skill-bar-name">
                    <p>HTML/CSS/Sass</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="row about-bottom-rows">
              <div class="col-12">
                <div class="skill-bar-full">

                  <div class="skill-bar-actual skill-bar-actual-react">

                  </div>
                  <div class="skill-bar-name">
                    React
                  </div>
                </div>

              </div>
            </div>

            <div class="row about-bottom-rows">
              <div class="col-12">
                <div class="skill-bar-full">

                  <div class="skill-bar-actual skill-bar-actual-js">

                  </div>
                  <div class="skill-bar-name">
                    Vue
                  </div>
                </div>

              </div>
            </div>

            <div class="row about-bottom-rows">
              <div class="col-12">
                <div class="skill-bar-full">

                  <div class="skill-bar-actual skill-bar-actual-angular">

                  </div>
                  <div class="skill-bar-name">
                    TypeScript
                  </div>
                </div>

              </div>
            </div>

            <div class="row about-bottom-rows">
              <div class="col-12">
                <div class="skill-bar-full">

                  <div class="skill-bar-actual skill-bar-actual-node">

                  </div>
                  <div class="skill-bar-name">
                    Node.js
                  </div>
                </div>

              </div>
            </div>

            <div class="row about-bottom-rows">
              <div class="col-12">
                <div class="skill-bar-full">

                  <div class="skill-bar-actual skill-bar-actual-SQL">

                  </div>
                  <div class="skill-bar-name">
                    SQL
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>