.nav-component {
  font-family: "Courier New", Courier, monospace;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.308);
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;

    li:hover {
      a:before, a:after {
        transform: scaleX(1)
      }
    }

    li {
      color: black;
      display: inline-block;
      padding: 0 10px;
      line-height: 50px;
      cursor: pointer;
      position: relative;
      text-align: center;
      margin: 0 16px;


      a {
        position: relative;
        cursor: pointer;
        color: black;
      }
    }

    a:before {
      content: "";
      top: -6px;
      left: 0;
      position: absolute;
      background-color: black;
      transform: scaleX(0);
      width: 100%;
      height: 2px;
      transition: all 0.5s;
      transform-origin: left;
    }

    a:after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
      transform: scaleX(0);
      transition: all 0.5s;
      transform-origin: right;
    }
  }

}
