<div class="nav-component">
  <ul class="nav-component-ul">
    <li class="nav-component-lists">
      <a href="#aboutSection" style="text-decoration:none">|ABOUT|</a>
    </li>
    <li class="nav-component-lists">
      <a href="#projectSection" style="text-decoration: none">|PROJECTS|</a>
    </li>


    <li class="nav-component-lists">
      <a href="#contactSection" style="text-decoration: none">|CONTACT|</a>
    </li>
  </ul>

  <div class="div-hamburger">
    <div class="hamburger-stacks" />
    <div class="hamburger-stacks" />
    <div class="hamburger-stacks" />
  </div>
</div>