<div class="contact-component" id="contactSection">
  <div class="container form-wrapper">
    <h1 class="contact-header">Contact</h1>
    <div class="contact-form-wrapper">
      <div class="contact-form">
        <div class="contact-form-main">
          <!-- <v-form action="https://formspree.io/chaheein@gmail.com" method="POST"> -->
          <form @submit.prevent="onSubmit">
            <v-container>
              <v-row class=" textfield-rows">
                <v-col sm="12" class="textfield-cols">
                  <v-text-field label="Name" name="user_name" required v-model="contact_name" />
                </v-col>
              </v-row>
              <v-row class="textfield-rows">
                <v-col sm="12" class="textfield-cols">
                  <v-text-field label="Email" type="email" name="user_email" required v-model="contact_email" />
                </v-col>
              </v-row>
              <v-row class="textfield-rows">
                <v-col sm="12" class="textfield-cols">
                  <v-textarea color="cyan" label="Message" no-resize rows=2 name="message" required
                    v-model="contact_msg"></v-textarea>
                </v-col>
              </v-row>
              <v-row class="textfield-rows">
                <v-col sm="12" class="textfield-cols button-wrapper">
                  <v-btn depressed large color="success" dark rounded width="100%" type="submit">Submit Message</v-btn>
                </v-col>
              </v-row>
              <v-row class="textfield-rows">
                <v-col sm="12" class="textfield-cols">
                  <div class="contact-form-details">
                    <h2>
                      Contact Details
                    </h2>
                    <p>
                      <span class="contact-form-details-email">
                        chaheein@gmail.com
                      </span>
                      </br>
                      I'm currently available for all contract and full time opportunities.
                    </p>

                    <a href="https://www.linkedin.com/in/ian-cha/" target="_blank">
                      <v-icon dark size="30px" class="mdi-icons">mdi-linkedin
                      </v-icon>
                    </a>

                    <a href="https://github.com/chaheein123" target="_blank">
                      <v-icon dark size="30px" class="mdi-icons">mdi-github
                      </v-icon>
                    </a>

                    <a href="https://www.youtube.com/channel/UCaOG6UMdcqFgP4Bi-2m-KUQ?view_as=subscriber"
                      target="_blank">
                      <v-icon dark size="30px" class="mdi-icons">mdi-youtube
                      </v-icon>
                    </a>

                  </div>
                </v-col>
              </v-row>

            </v-container>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <form action="https://formspree.io/chaheein@gmail.com" method="POST">
    <label>
      Your Name:
      <input type="text" name="name">
    </label>
    <label>
      Your Email:
      <input type="email" name="_replyto">
    </label>
    <label>
      Message:
      <textarea name="message"></textarea>
    </label>
    <input type="submit" value="Send">
  </form> -->
</div>