<div class="top-component">

  <div class="stars star-1 stars-animate" />
  <div class="stars star-2 stars-animate" />
  <div class="stars star-3" />
  <div class="stars star-4 stars-animate" />
  <div class="stars star-5 stars-animate" />

  <div class="star-cluster">
    <div class="stars star-cluster-top stars-animate" />
    <div class="stars star-cluster-bottom" />
    <div class="stars star-cluster-right" />
    <div class="star-cluster-line">
      <div class="star-actual-line">
        <div class="star-actual-star stars" />
        <div class="star-actual-text-wrapper">
          See my work!
        </div>
      </div>
    </div>
  </div>

  <div class="saturn">
    <div class="saturn-around" />
  </div>

  <div class="face-portrait-wrapper">
    <h1>Hello. My name is Ian.</h1>
    <h1>I am full stack developer.</h1>
    <div class="face-portrait" />
  </div>
</div>